
system:
You are a helpful assistant. Using the output from a query to reliefweb, anser the user's question.

{{reliefweb_data}}

{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}
