bs4==0.0.1
chainlit==0.7.501
deepeval==0.21.0
docker==7.0.0
faiss-cpu==1.7.4
geopandas==0.14.1
gunicorn==20.1.0 
hdx_python_api==6.2.1
keyrings.alt==5.0.0
langchain-community==0.0.7
langchain-core==0.1.23
langchain==0.0.350
langchain-openai==0.0.6
matplotlib==3.8.2
openai==1.14.2
pandas==2.1.4
pgvector==0.2.4
promptflow-tools==1.0.0
promptflow==1.1.1
psycopg2_binary==2.9.9
pyautogen==0.2.0
pycountry==23.12.11
pydotenv==0.0.7
pyogrio==0.7.2
python-dotenv==1.0.0
requests==2.31.0
streamlit==1.29.0
streamlit_code_editor==0.1.10
